/* index.html css */

body {
  margin: none;
  padding: none;
  background-color: #f9f9f9;
}
.navbar {
  display: flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.navbar div a {
  text-decoration: none;
  color: black;
  font-size: 1.25em;
  margin-left: 25px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 10px 10px 10px;
  margin: 50px 10px 50px 10px;
}

/* Login.html css */

.loginform form,
.signupform form {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 25px;
  background-color: #e8e8e8;
  border-radius: 8px;
}

.loginform form input,
.loginform form button,
.loginform form a,
.signupform form input,
.signupform form button,
.signupform form a {
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}

.input {
  width: 60%;
}
.loginform form button,
.signupform form button {
  width: 40%;
}

/* signup.html css */

/* addTask css */

.primarySection {
  width: 70%;
  margin: auto;
}

#addItem {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 1.25em;
}
#addItem input {
  padding: 10px;
  border-radius: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1.25em;
}
#taskList {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.singleTask {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 3%;
  align-items: center;
  margin: auto;
}

/* abstract classes */

.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
